# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# --- TabSnap Project Cleanup ---
# Local tooling & Metadata
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Local analysis / debug output
analyze.json
analyze_output.txt
out.txt

# Android
.gradle/
local.properties
*.keystore
*.jks
*.properties
!gradle.properties
flutter_export_environment.sh
android/.kotlin/

# iOS
.generated/
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Pods/

# Secrets & Config
.env
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log